<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite">

   <test name="Parameters_Dataprovider">

	<parameter name="Username" value="7893417170"/>

	<parameter name="Password" value="suryam0078"/>
	 <classes>

	      <class name="Testing_Sms.Parameters_Dataprovider" />

	</classes>

   </test>

</suite>