<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite-Listeners" parallel="none">

 <listeners>

 <listener class-name="Testing_Sms.Listeners"></listener>

 </listeners>

 <test name="Batch-Listeners">

 <classes>

 <class name="Testing_Sms.Listeners" />

 </classes>

 </test> 

</suite>